* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

body {
  background-color: #fe670f;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo img{
  display: flex;
  width: 500px;
}

.login {
  border-radius: 20px;
  display: flex;
  background-color: #ffffff58;
  border: 1px solid;
  height: 200px;
  justify-content: center;
  align-items: center;
  width: 450px;
  }

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.424);
  padding-left: 10px;
}

form label{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#username{
  background-color: #4e4b4b5f;
  border: none;
  border-radius: 7px;
  height: 5vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#password{
  background-color: #4e4b4b5f;
  border: none;
  border-radius: 7px;
  height: 5vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#entrar{
  background-color: #000000d0;
  border: 1px solid black;
  color: white;
  border-radius: 7px;
  height: 5vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.cadastro{
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 450px;
  text-align: center;
}

.facebook, .google{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff22;
  padding: 0 30px;
  border: none;
  border-radius: 7px;
  height: 52px;
  width: 150px;
  text-align: center;
  color: rgba(255, 255, 255, 0.696);
}


.signUp{
  color: white;
  display: inline-block;
  color: rgba(255, 255, 255, 0.696);
  margin-bottom: 10px;
}

